<article class="listing">
 <h3>{{#link-to "home.show" book}}{{book.bookname}}{{/link-to}}</h3>
  <div class="detail owner">
    <span>Author:</span> {{book.author}}
  </div>
  <div class="detail type">
    <span>Description</span> {{book.description}}
  </div>
  <div class="detail location">
    <span>Reviews:</span> {{book.reviews}}
  </div>
</article>