

<div class = "container">
    <div class="leftpane">
    </div>
        
    <div class="middlepane">
    {{data}}
        {{input value=filter class="light" placeholder="Filter By Book" size ="100"}}
		<div class="row">
    		{{#each  filteredBooks as |bookUnit|}}
        		<div class="col-md-4">
            		{{book-listing book = bookUnit}}
        		</div>
    		{{/each}}
		</div>
    </div>
</div>
{{outlet}}