<div class="jumbo show-listing">
  <h2 class="Book Name">{{model.bookname}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Author:</strong> {{model.author}}
    </div>
    <div class="detail">
      <strong>Description:</strong> {{model.description}}
    </div>
    <div class="detail">
      <strong>Reviews:</strong> {{model.reviews}}
    </div>
  
  </div>
 
</div>